<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" th:action="@{/persistWorker}">
    <label>Imię:</label>
    <input type="text" name="name"/>
    <label>Nazwisko:</label>
    <input type="text" name="surname"/>
    <label>Rola:</label>
    <select name="role">
        <option th:each="p : ${listRoles}" th:value="${p}" th:text="${p}" />
    </select>
    <label>Miejsce pracy:</label>
        <input type="text" name="currentSite"/>
        <button type="submit">Add</button>
</form>

</body>
</html>